@font-face {
    font-family: "is";
    src: url("font/IRANSans.woff2") format("woff2");
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #8ec5fc, #e0c3fc);
   font-family:"is" !important;
    font: 200%;
}

/* مرکز صفحه واقعی */
.center-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* کارت شیشه‌ای */
.glass-card {
    width: 90%;
    max-width: 480px;
    padding: 30px;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);

    color: #fff;

    font-family: "is",sans-serif;
}


h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 6px;
    font-weight: bold;
    color: #ffffff;
}

input, textarea {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;

    background: rgba(255, 255, 255, 0.25);
    color: #fff;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
font-family: "is",sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

input::placeholder,
textarea::placeholder {
    color: #eee;
    
}


.time-row {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
}


.submit-btn {
    width: 100%;
    padding: 12px;
    background: rgba(255, 255, 255, 0.35);
    border: none;
    border-radius: 12px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
    box-shadow: 0 20px 30px rgba(0,0,0,0.5);

    
}

.submit-btn:hover {
    background: rgba(255, 255, 255, 0.55);

    background: linear-gradient(135deg, #ff2d75, #e91e63);
    transition: all 0.2s ease;
}
