
@font-face {
  font-family: "ISfont";
  src: url("font/IRANSans.woff2") format("woff2");
  font-size: 12px;
  
}











:root{
                            --bgcolorBody:#FFF;

                            --bgcolor:#FFF;
                            --txtcolor:#FFF;
                            --cardcolor:#FFF;
                            --radius:12px;
                            --shadow:0 5px 15px rgba(0,0,0,.5);
                            --fontname:sans-sarif;
                            --fontsizeS:10px;
                            --fontsizeB:14px;
                            --padding:12px;
                            --fontname:'ISfont',sans-serif;


}